@use 'variables' as *;

.hamburger-menu {

    .button-content {
        display: block;
        height: 24px;
        cursor: pointer;
    }
    
    .bar {
        display: block;
        position: relative;
        width: 100%;
        height: 4px;
        top: 10px;
        background-color: $textcolors;
        transition: all 0.3s ease-in-out;
        border-radius: 5rem;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            top: 10px;
            left: 0;
            background-color: $textcolors;
            transition: all 0.3s ease-in-out;
            border-radius: 5rem;
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            top: -10px;
            left: 0;
            background-color: $textcolors;
            transition: all 0.3s ease-in-out;
            border-radius: 5rem;
        }
    }
}

.show {
    .bar {
        background-color: transparent;
    }

    .bar:before {
        top: 0;
        transform: rotate(45deg);
    }

    .bar:after {
        top: 0;
        transform: rotate(-45deg);
    }
}