@use 'variables' as *;

header {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $navcolor;

    .search-icon {
        width: 30px;
        height: 30px;
        fill: $textcolors;
    }

    .logo { 
        width: 60vw;
        height: auto;
    }

    .hamburger-menu {
        padding: 0;
        display: block;
        width: 30px;
        background-color: transparent;
        border: none;
    }
}

