@use 'variables' as *;

header {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $navcolor;

    @media (min-width: 37.5rem) {
        padding: 0.5rem 1.5rem;
    }

    @media (min-width: 62.5rem) {
        flex-wrap: nowrap;
        position: relative;
    }

    .search-icon {
        width: 30px;
        height: 30px;
        fill: $textcolors;

        @media (min-width: 62.5rem) {
            display: none;
        }
    }

    .logo {
        max-width: 14rem;
        width: 60vw;
        height: auto;

        @media (min-width: 62.5rem) {
            margin: 0 2rem;
        }
    }

    .hamburger-menu {
        padding: 0;
        display: block;
        width: 30px;
        background-color: transparent;
        border: none;

        @media (min-width: 62.5rem) {
            display: none;
        }
    }
}