@use 'typography' as *;
@use 'variables' as *;

.hero-banner {
    position: relative;
}

.banner-movie-card
.banner-poster {    
    img {
        width: 100%;
    }
}

.banner-info {
    background-color: $bannerbox;

    .title {
        margin: 0;
        font-family: 'Montserrat-Bold';
    }

    .overview {
        font-family: 'Montserrat-Regular';
    }
}
