@use 'typography' as *;
@use 'variables' as *;

main {
    background-color: #222831;
}

.hero-banner {
    font-family: 'Montserrat-Regular';
    position: relative;
    overflow: hidden;
    width: 100vw;
}

.poster-container {
    white-space: nowrap;
    transition: transform 0.3s;

    .banner-movie-card {
        display: inline-block;
        align-items: center;
        justify-content: center;
        height: 26.25rem;
        width: 100%;

        .banner-poster {   
            height: 12.5rem;
            
            img {
                width: auto;
                height: 100%;
            }
        }

        .banner-info {
            background-color: $bannerbox;
            width: 100%;
            height: 13.75rem;
            position: relative;
        
            .title {
                margin: 0;
                padding: 0.7rem 0.5rem;
                font-family: 'Montserrat-Bold';
                color: $textcolors;
            }
        
            .overview {
                // hide text after 5 lines 
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;

                line-height: 1.5;
                margin: 0;
                padding: 0 0.5rem;
                color: $textcolors;
            }
        }

        .detail-btn {
            display: inline-block;
            margin: 0.3rem 0.5rem;
            padding: 0.3rem;
            border: 1px solid black;
            border-radius: 1rem;
            background-color: $actioncolors;
            color: $textcolors;
            font-size: 1rem;
            text-decoration: none;
            position: absolute;
            right: 0;
            bottom: 0.5rem;

            &:hover,
            &:active, 
            &:focus {
                background-color: $backgroundcolor;
            }
        }
    }
}

.banner-buttons {
    margin: 0 0.2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    fill: $actioncolors;
    position: absolute;
    left: 0;
    bottom: 0.5rem;

    object {
        pointer-events: none;
    }

    button {
        margin: 5px;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;

        &.active {
            background-color: $actioncolors;
            color: white;
        }

        &:hover
        {
            background-color: $backgroundcolor;
            color: $textcolors;
        }
    }
}
