@use 'typography' as *;
@use 'variables' as *;

main {
    background-color: #222831;
}

.hero-banner {
    font-family: 'Montserrat-Regular';
    position: relative;
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
}

.banner-container {
    white-space: nowrap;
    transition: transform 0.3s;

    .banner-movie-card {
        display: inline-block;
        align-items: center;
        justify-content: center;
        width: 100%;

        @media (min-width: 62.5rem) {
            position: relative;
        }

        .banner-poster {   
            img {
                width: 100%;

                @media (min-width: 62.5rem) {
                    object-fit: cover;
                    object-position: 60% 40%;
                    height: 700px;
                }
            }
        }

        .banner-info {
            background-color: $bannerbox;
            // width: 100%;
            height: 13.75rem;
            position: relative;

            @media (min-width: 37.5rem) {
                padding: 0 1.5rem;
            }

            @media (min-width: 62.5rem) {
                position: absolute;
                bottom: 20px;
                right: 20px;
                width: 460px;
                height: 280px;
                background-color: $bannerboxdesktop;
                border-radius: 1rem;
            }
        
            .title {
                margin: 0;
                padding: 0.7rem 0.5rem;
                font-family: 'Montserrat-Bold';
                color: $textcolors;

                @media (min-width: 62.5rem) {
                    font-size: 1.5rem;
                    padding: 1rem 0.5rem;
                }
            }
        
            .overview {
                // hide text after 5 lines 
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;

                line-height: 1.5;
                margin: 0;
                padding: 0 0.5rem;
                color: $textcolors;
                height: 120px;

                @media (min-width: 62.5rem) {
                    font-size: 1.25rem;
                    height: 150px;
                }
            }
        }

        .detail-btn {
            display: inline-block;
            margin: 0.3rem 0.5rem;
            padding: 0.3rem;
            border-radius: 1rem;
            background-color: $actioncolors;
            color: $textcolors;
            font-size: 1rem;
            text-decoration: none;
            position: absolute;
            right: 1rem;
            bottom: 0.5rem;

            &:hover,
            &:active, 
            &:focus {
                background-color: $backgroundcolor;
            }

            @media (min-width: 37.5rem) {
                margin: 0.3rem 1.5rem;
            }
        
            @media (min-width: 62.5rem) {
                font-size: 1.25rem;
            }
        }
    }
}

.banner-buttons {
    margin: 0 0.2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    fill: $actioncolors;
    position: absolute;
    left: 0;
    bottom: 0.5rem;

    @media (min-width: 37.5rem) {
        margin: 0 1.5rem;
    }

    @media (min-width: 62.5rem) {
        bottom: 30px;
        right: 350px;
        left: auto;
    }
}

    object {
        pointer-events: none;
    }

    button {
        margin: 5px;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;

        &.active {
            background-color: $actioncolors;
            color: white;
        }

        @media (min-width: 62.5rem) {
            font-size: 1.25rem;
            width: 2rem;
            height: 2rem;

            &:hover {
                background-color: $backgroundcolor;
                color: $textcolors;
            }
        }
    }


