@use 'variables' as *;

.movie-container{
    background-color: $backgroundcolor;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
        h3{
            color: $textcolors;
        }
        a{
            color: $textcolors;
            
        }
        p{
            color: $textcolors;
        }
    
    
}

@media (min-width: $desktopsize){
    .movie-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

img {
    max-width: 100%;
}

.movie-container{
    background-color: $backgroundcolor;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
        h3{
            color: $textcolors;
        }
        a{
            color: $textcolors;
        }
        p{
            color: $textcolors;
        }
}
@media (min-width: $desktopsize){
    .movie-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    .layout {
        margin: 0 auto;
        max-width: 70em;
    }
}
img {
    max-width: 100%;
}
.movie-card{
    margin: 0 auto;
    background-color: $navcolor;
    box-shadow: 7px 7px 7px;
    border-radius: .5rem;
    margin-bottom: 1rem;
        img {
            width: 100%;
            border-radius: .5rem;
        }
}

.movie-info-static{
    text-align: center;
}


.detail-btn {
    margin: 0 auto;
    height: fit-content;
    font-family: $headerfont;
    display: inline-block;
    margin: 0.3rem 0.5rem;
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: $actioncolors;
    color: $textcolors;
    font-size: 1rem;
    text-decoration: none;
    // position: absolute;
    right: 1rem;
    bottom: 1rem;

    &:hover,
    &:active, 
    &:focus {
        background-color: $hoverbackground;
    }
   
}




.movie-poster {
    position: relative;
}

.movie-info-hover {
    font-family: $headerfont;
    font-size: 1.5rem;
    position: absolute;
    background-color: $hoverbackground;
    text-align: center;
    z-index: 1;
    top: 0;
    bottom: 0rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr), 1rem;
    border-radius: .5rem;
    @media (min-width: $desktopsize) {
        font-size: .7rem;
    }
}

.layout{
    .movie-container{
    max-width: 85%;
    margin: 0 auto;
    }
}