@use 'variables' as *;

.movie-container{
    // background-color: $backgroundcolor;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
        h3{
            color: $textcolors;
        }
        a{
            color: $textcolors;
            
        }
        p{
            color: $textcolors;
        }
    
    
}

@media (min-width: $desktopsize){
    .movie-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

img {
    max-width: 100%;
}

.movie-container{
    background-color: $backgroundcolor;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
        h2{
            color: $textcolors;
        }
        a{
            color: $textcolors;
        }
        p{
            color: $textcolors;
        
        }
}
@media (min-width: $desktopsize){
    .movie-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    .layout {
        margin: 0 auto;
        max-width: 90em;
    }
}
img {
    max-width: 100%;
}
.movie-card{
    margin: 0 auto;
    box-shadow: 7px 7px 7px;
    border-radius: .5rem;
    margin-bottom: 1rem;
        img {
            width: 100%;
            border-radius: .5rem;
        }
}




.detail-btn {
    margin: 0 auto;
    height: fit-content;
    font-family: $headerfont;
    display: inline-block;
    margin: 0.3rem 0.5rem;
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: $actioncolors;
    color: $textcolors;
    font-size: 1rem;
    text-decoration: none;
    // position: absolute;
    right: 1rem;
    bottom: 1rem;

    &:hover,
    &:active, 
    &:focus {
        background-color: $hoverbackground;
    }
   
}




.movie-card {
    position: relative;
}

.movie-info-hover {
    font-family: $headerfont;
    font-size: 1.5rem;
    position: absolute;
    background-color: $hoverbackground;
    text-align: center;
    z-index: 1;
    top: 0;
    bottom: 0rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr), 1rem;
    border-radius: .5rem;
    @media (min-width: $desktopsize) {
        font-size: .9rem;
    }
    .overview{
        font-size: 1rem;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.5;
        margin: 0;
        padding: 0 0.5rem;
        height: 120px;
       @media (min-width: $desktopsize) {
        height: 115px;
       }
    }
}

.layout{
    .movie-container{
    max-width: 85%;
    margin: 0 auto;
    }
}

.movie-info-static{
    .rating{
        z-index: 3;
        position: absolute;
        left: .7rem;
        bottom: 0;
        border: 4px solid $actioncolors;
        background-color: $navcolor;
        border-radius: 30px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin: 0.5rem;

    }
    button{
        z-index: 2;
        position: absolute;
        right: .7rem;
        bottom: .5rem;
        background-color: transparent;

                .fav-heart-icon {
                    fill: $actioncolors;

                    &:hover,
                    &:active {
                        fill: red;
                    }
                }

                .unfav-heart-icon {
                    fill: $actioncolors;

                    &:hover,
                    &:active {
                        fill: red;
                    }
                }
    }
}