@use 'typography' as *;
@use 'variables' as *;

.nav-main {
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: height 0.3s ease, visibility 0s 0.3s;
    font-family: 'Montserrat-Regular';
    font-size: 1.25rem;

    ul {
        margin: 0.5rem 0;
        text-align: center;
        padding: 0;
        list-style: none;
    }

    li {
        padding: 0.25rem 0;
    }

    a {
        color: $textcolors;
        text-decoration: none;

        &.active { 
            text-decoration: underline solid $actioncolors;
            text-decoration-thickness: 2px;
        }
    }
}

.showDropDown .nav-main {
    transition: height 0.3s ease, visiblity 0s;
    visibility: visible;
    height: 110px;
}