@use 'typography' as *;
@use 'variables' as *;

.search-icon:hover {
    fill: $actioncolors;
    cursor: pointer;
}

.search-bar {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    width: 100%;

    .search-input {
        height: 30px;
    }

    .search-bar-field {
        display: block;
        width: 100%;
        font-size: 1.25rem;
        outline-color: $actioncolors;
        border: none;
        border-bottom: 2px solid $actioncolors;
        background-color: $navcolor;
        
        color: $textcolors;

        @media (min-width: 62.5rem) {
            background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgb(0, 173, 181)" d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z"></path></svg>');
            background-repeat: no-repeat;
            padding-left: 28px;
        }

        &::placeholder {
            color: $textcolors;
        }
    }

    .search-bar-field-error {
        display: block;
        width: 100%;
        font-size: 1.25rem;
        outline: none;
        border: none;
        border: 2px solid red;
        background-color: $navcolor;
        color: $textcolors;

        @media (min-width: 62.5rem) {
            background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgb(0, 173, 181)" d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z"></path></svg>');
            background-repeat: no-repeat;
            padding-left: 28px;
        }

        &::placeholder {
            color: $textcolors;
        }
    }

    @media (min-width: 62.5rem) {
        visibility: visible;
        height: auto;
        order: -1;
        width: 30%;
    }
}

.showSearchBar .search-bar {
    visibility: visible;
    height: auto;
}
