@use 'typography' as *;
@use 'variables' as *;

.search-results {
    color: $textcolors;
    font-family: 'Montserrat-Regular', sans-serif;
    height: 0;

    ul {
        padding: 0;
    }

    li {
        list-style: none;
        padding: 0.5rem;
    }

    a {
        text-decoration: none;
        color: $textcolors;

        &:hover,
        &:active {
            color: $actioncolors;
        }
    }

    @media (min-width: 62.5rem) {
        position: absolute;
        height: auto;
        left: 0;
        top: 88px;
        background-color: $navcolor;
        width: 31%;

        ul {
            margin: 1.5rem;
        }

        li {
            padding: 0.5rem 0;
        }
    }
}

.showSearchBar .search-results {
    visibility: visible;
    height: auto;
}

// about page

.about-page {
    background: $backgroundcolor;
    height: 100vh;

    h2 {
        color: $actioncolors;
        font-family: $headerfont;
        font-size: 2.5rem;
        padding: 3.5rem 1.5rem 1.5rem;
        text-align: center;
        margin: 0;
    }

    p {
        color: $textcolors;
        margin: 3rem 2.5rem;
        font-family: $regulafont;
        font-size: 1.2rem;
    }

    h3 {
        color: $actioncolors;
        font-family: $headerfont;
        font-size: 2rem;
        padding: 1.5rem;
        text-align: center;
    }
}
