@use 'typography' as *;
@use 'variables' as *;

.search-results {
    color: $textcolors;
    font-family: 'Montserrat-Regular', sans-serif;
    height: 0;

    ul {
        padding: 0;
    }

    li {
        list-style: none;
        padding: 0.5rem;
    }

    a {
        text-decoration: none;
        color: $textcolors;

        &:hover,
        &:active {
            color: $actioncolors;
        }
    }

    @media (min-width: 62.5rem) {
        position: absolute;
        height: auto;
        left: 0;
        top: 53.5px;
        background-color: $navcolor;
        width: 30.5%;

        ul {
            margin: 0.5rem 1.5rem 1.5rem;
        }

        li {
            padding: 0.5rem 0;
            font-size: 1.25rem;
        }
    }
}

.showSearchBar .search-results {
    visibility: visible;
    height: auto;
}