@use 'typography' as *;
@use 'variables' as *;

.solo-movie-container {
    color: $textcolors;
    font-family: 'Montserrat-Regular', sans-serif;
    margin: 2rem;

    @media (min-width: 50rem) {
        display: grid;
        grid-template-columns: calc(40% - 0.75rem) calc(60% - 0.75rem);
        grid-gap: 1.5rem;
    }

    @media (min-width: 77rem) {
        grid-template-columns: repeat(2, auto);
    }
}

.single-movie-poster {
    margin: 2rem;

    @media (min-width: 50rem) {
        margin: 0;
        align-self: center;
    }

    @media (min-width: 62.5rem) {
        justify-self: center;
    }

    img {
        height: 100%;
        box-shadow: 10px 10px 10px black;

        @media (min-width: 50rem) {
            height: auto;
        }

        @media (min-width: 62.5rem) {
            width: 365px;
            max-width: 100%;
        }
    }
}

.single-movie-info {
    margin: 0.5rem 0;
    color: $textcolors;
    font-family: 'Montserrat-Regular', sans-serif;

    @media (min-width: 50rem) {
        margin: 0;
    }

    .single-movie-header {
        text-align: center;

        h1 {
            text-decoration: underline solid $actioncolors;
            text-underline-offset: 6px;
            margin: 0;
            font-size: 2rem;
        }

        .release-date {
            display: inline-block;
            position: relative;
            margin: 0.5rem 0;
            font-size: 1.25rem;
            width: 100%;

            .heart-icon {
                position: absolute;
                fill: $actioncolors;
                margin: 0 0.5rem;
            }
        }

        @media (min-width: 50rem) {
            text-align: left;

            h1 {
                display: inline-block;
                margin: 0 0.5rem;
            }

            .release-date {
                width: auto;
                margin: 0.5rem;
            }
        }
    }

    .single-movie-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;

        @media (min-width: 50rem) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .movie-rating {
            border: 4px solid $actioncolors;
            border-radius: 30px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            margin: 0.5rem;
        }

        .movie-duration {
            margin: 0.5rem;
        }

        .movie-genre {
            justify-content: center;
            width: 100%;
            margin: 0.5rem 0;
            padding: 0;
            font-size: 1rem;
            text-align: center;

            @media (min-width: 25rem) {
                display: flex;
            }

            li {
                list-style: none;
                margin: 0.5rem;

                @media (min-width: 25rem) {
                    margin: 0.5rem 0;

                    &:not(:first-child):before {
                        margin: 0.5rem;
                        content: "\2022";
                    }
                }

            }

            @media (min-width: 50rem) {
                width: auto;
                font-size: 1.25rem;
                margin: 0.5rem;
            }
        }
    }

    .overview {
        @media (min-width: 50rem) {
            margin: 0 0.5rem;
        }

        h2 {
            text-decoration: underline solid $actioncolors;
            text-underline-offset: 6px;
        }

        .single-movie-overview {
            line-height: 1.5;
            font-size: 1rem;

            @media (min-width: 62.5rem) {
                width: 650px;
                max-width: 100%;
                font-size: 1.25rem;
            }
        }
    }
}

.single-movie-crew {

    @media (min-width: 50rem) {
        grid-column: 1/3;
    }

    h2 {
        text-decoration: underline solid $actioncolors;
        text-underline-offset: 6px;
    }

    ul {
        display: flex;
        padding: 0;

        li {
            list-style: none;

            &:not(:first-child):before {
                margin: 0.5rem;
                content: "\2022";
            }

            @media (min-width: 62.5rem) {
                font-size: 1.25rem;
            }
        }
    }

}

.movie-cast {

    @media (min-width: 37.5rem) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1rem;

        h2 {
            grid-column: 1 / 6;
            width: 100%;
            margin-bottom: 0.5rem;
            text-decoration: underline solid $actioncolors;
            text-underline-offset: 6px;
        }
    }

    @media (min-width: 50rem) {
        grid-column: 1/3;
    }

    .movie-cast-card {
        margin: 2rem;

        img {
            box-shadow: 10px 10px 10px black;
        }

        @media (min-width: 37.5rem) {
            margin: 0;
        }


        @media (min-width: 62.5rem) {
            font-size: 1.25rem;
        }
    }
}