


@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('../fonts/Montserrat/static/Montserrat-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf');
    font-style: normal;
    font-style: normal;
}

