@use 'typography';

$headerfont : 'Montserrat-Bold';
$regulafont : 'Montserrat-Regular';
$italicfont : 'Montserrat-Italic';

$textcolors : #eeeeee;
$actioncolors : #00adb5;
$navcolor: #393e46;
$backgroundcolor: #222831;
$hoverbackground: rgba(57, 62, 70, 0.8);
$bannerbox: rgba(0, 172, 181, 0.2);
$bannerbox: rgb(0, 173, 181, .2);

$mobilesize: 320px;
$desktopsize: 820px;
